name: Semantic PR

on:
  pull_request:
    branches: [main]

jobs:
  semantic-pr:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      statuses: write
      checks: write
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
